<link rel="stylesheet" href="../css/admin.css">
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1> Welcome Administrator</h1>
      {{#if messages.update}}
        <h5 class='updateMsg'> {{messages.update}}</h5>
      {{/if}}
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h5> Please see the below calender to view all the days your staff is working</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table>
        <thead>
          <tr>
            {{#weekDays}}
              <th>
                <span class="long">{{day_name}}</span>
                <span class="short">{{day_name_short}}</span>
              </th>
            {{/weekDays}}
          </tr>
        </thead>
        <tbody>
          <tr>
                {{#listShifts}}
                  <td class={{status}}>
                    <ul>
                      {{#each waiters}}
                        <li>{{this}}</li>
                      {{/each}}
                    </ul>
                  </td>
                {{/listShifts}}
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div>
        <form method="post" action="/reset">
          <button type="submit" class="btn btn-danger mx-auto reset">Reset</button>
        </form>
      </div>
    </div>
  </div>
</div>
