<link rel="stylesheet" href="../css/staff.css">
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1> Welcome {{username}}</h1>
      {{#if messages.account}}
        <h5 class='accountMsg'> {{messages.account}}</h5>
      {{/if}}
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h5> Please select the days you are willing to work for the week</h5>
    </div>
  </div>

  <form method="post" action="/waiters/{{username}}">
    <div class="row">
      <div class="col-12">
        <div class="weekDays-selector">
          {{#weekDays}}
            <input type="checkbox" id="weekday-{{day_name}}" class="weekday" name="weekday" value={{day_number}} {{checked}}/>
            <label for="weekday-{{day_name}}">{{day_name}}</label>
          {{/weekDays}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div>
          <button type="submit" class="btn btn-info mx-auto save">Save</button>
          <input type="hidden" name="username" value={{username}}>
        </div>
      </div>
    </div>
  </form>
</div>
